.App {
  display: grid;
  
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "header header"
        "navbar main-content";
}

.header {
  grid-area: header;
  border: 2px solid red;
  margin: 3px 3px;
  background-color: aquamarine;
  border-radius: 10px;
}

.navbar {
  grid-area: navbar;
  border: 2px solid rgb(0, 110, 255);
  margin: 3px 3px;
  background-color: rgb(255, 232, 127);
  border-radius: 10px;
}

.main-content {
grid-area: main-content;
border: 2px solid rgb(255, 0, 255);
margin: 3px 3px;
background-color: rgb(195, 255, 127);
border-radius: 10px;
}

.header-img {
  height: 50%;
  /* width: 20%; */
}
